@use '/src/app/styles/partials/index' as util;

.about-body-container {
    @include util.size(100%, 120vh, 0, 0);
    position: relative;
    background: util.$BKGR-PAGE-BLK;
    background-size: util.$BKGR-SIZE;
    overflow: hidden;

    .about_body {
        @include util.size(auto, 80%, 0 0 0 3vw, 0);
        @include util.flex(center, flex-end, column, NULL, NULL);

        & > * {
            margin: 3px 0;
        }

        .about_salutations {
            @include util.setFont(util.$TITLE_DYNAMIC_FONT_SIZE util.$FONT-PRIM, 400, util.$TEXT-PRIM);
            @include util.flex(center, flex-end, column, NULL, NULL);
            line-height: 0.9;

            & > span {
                @include util.orangeFontGradient();
                // animation: GlidingColorFontGradient 8.4s linear infinite;
                background-size: 200% auto;
                font-weight: 900;
                z-index: 1;
            }
        }

        .about_body_text {
            @include util.setFont(util.$BODY_DYNAMIC_FONT_SIZE util.$FONT-PRIM, 400, util.$TEXT-PRIM);
            // mix-blend-mode: util.$FONT-BLEND-ALT;
        }

        .calls-to-action {
            @include util.flex(space-between, center, NULL, NULL, NULL);
            @include util.size(auto, auto, NULL, 0);

            & > * {
                margin: 0 0 0 1.7vw;
            }

            .contact-now {
                @include util.setFont(2vw util.$FONT-PRIM, 400, NULL);
                @include util.size(auto, 4vw, 0, 0 0.7vw);

                transition: util.$TRANS-2;
                border: 2px solid black;
                background-color: rgb(253, 253, 253);
                border: 2px solid white;

                &:hover {
                    background-color: rgba(253, 253, 253, 0.106);
                    color: white;
                }
            }

            & > * {
                z-index: 1;
            }

            a > .offsite-button {
                @include util.size(util.$OFFSITE_BUTTON_SIZE, auto, 0, 0);
                transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;

                &:hover {
                    transform: translateY(-12.9px);
                }
            }
        }
    }

    &::after {
        content: '';
        @include util.size(100%, 45%, 0, 0);
        bottom: -50%;
        background: rgb(0, 0, 0);
        position: absolute;
        // border-radius: 100%;
        left: 50%;
        transform: translateX(-50%);
        // box-shadow: 0px -52px 1000px 80px rgb(0, 0, 0);
        box-shadow: 0px -52px 200px 100px rgb(0, 0, 0);
    }
}

@keyframes GlidingColorFontGradient {
    0% {
        background-position: 500% center;
    }

    50% {
        background-position: 200% center;
    }

    100% {
        background-position: 100% center;
    }
}

@keyframes SalutationsSpacingAnim {
    0% {
        opacity: 0;
        line-height: 0.52;
    }

    100% {
        opacity: 1;
        line-height: 0.8;
    }
}