@use '/src/app/styles/partials/index' as util;

.form-input-container {
    @include util.size(100%, auto, 0, 0);
    transition: all 0.4s ease-in-out;

    & > * {
        font-size: 2.4vw;
        line-height: 1.75rem;
    }

    .label-container {
        @include util.size(auto, auto, 0, 0);
        @include util.flex(null, center, null, null, null);
        text-wrap: nowrap;

        .form-label {
            @include util.setFont(calc(util.$NAV_DYNAMIC_FONT_SIZE + 20px) util.$FONT-PRIM, 400, util.$TEXT-PRIM);
            opacity: 0.87;
            color: util.$TEXT-PRIM;
        }
    }

    & > .input-container:has(.form-input) {
        border-bottom: 8px solid util.$BORDER_COLOR;
    }

    .input-container {
        @include util.size(auto, auto, 0, 0);

        .form-input {
            @include util.size(100%, auto, 20px 0 0, 1.3rem 1.1rem);
            display: flex;
            outline: none;
            border: none;
            color: util.$SIDEBAR-COLOR;
            box-sizing: border-box;
            font-size: 2.4rem;
            font-family: monospace;
            line-height: 1.25rem;
            background-color: util.$INPUT-BKGRD-COLOR;
        }

        .form-textarea {
            @include util.size(100%, 25vh, 20px 0 0, 25px 20px 0);

            z-index: 9999;
            border-bottom: none;
            border: 5px solid util.$BORDER_COLOR;
            // border-radius: 30px;
            outline: none;
            background-color: util.$INPUT-BKGRD-COLOR;
            color: util.$SIDEBAR-COLOR;
            font-size: calc(1.8rem);
        }
    }
}

.active-input-container {
    border-bottom-color: white;
}