@use '/src/app/styles/partials/index' as util;

.icon-grid {
    @include util.size(70%, 100%, 0, 0 100px 0 0);
    z-index: 101;

    background: black;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    gap: 7px;
    place-items: center;

    & > * {
        @include util.size(clamp(105px, 14vw, 140px), clamp(105px, 14vh, 130px), 0, 0);
        fill: rgba(64, 77, 00, 0.8);
        filter: grayscale(100%);
        fill-opacity: 0.5;

        &:hover {
            fill: rgb(0, 172, 187);
            filter: grayscale(0%);
            fill-opacity: 0.8;
        }
    }
}