@use '/src/app/styles/partials/index' as util;

.icon-grid {
    @include util.size(100%, 100%, 0, 10px 0 0);

    background: black;
    display: grid;
    grid-template-columns: repeat(5, minmax(80px, 1fr));
    gap: 7px;
    place-items: center;

    & > * {
        @include util.size(clamp(85px, 15vw, 140px), clamp(85px, 20vh, 130px), 0, 0);
    }
}