@font-face {
    font-family: 'Space Grotesk', sans-serif;
    // src: url();
}

@font-face {
    font-family: 'Bespoke Stencil', sans-serif;
    // src: url();
}

@font-face {
    font-family: 'Array', sans-serif;
    // src: url();
}

@font-face {
    font-family: 'Druk Wide Bold Bold';
    src: local('Druk Wide Bold Bold'), url('/Fonts/druk-wide/DrukWideBold.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

$BKGR-PRIM: linear-gradient(90deg, rgba(0, 0, 0, 1) 52%, rgba(255, 255, 255, 1) 52%);
$BKGR-LANDING: #0c0c0f;
$BKGR-PAGE: #ece7dd;

$BODY_DYNAMIC_FONT_SIZE: clamp(1.5vw, 1.9vw, 80px);
$NAV_DYNAMIC_FONT_SIZE: clamp(28px, 1.49vw, 1.8vw);
$PROJECT_CARD_TITLE_FONT_SIZE: clamp(1.9vw, 4vw, 50px);
$OFFSITE_BUTTON_SIZE: 4vw;

$SIDE_PAGE_TITLE_COLOR: #ffffff1d;
$INPUT-BKGRD-COLOR: rgb(18, 18, 18);
$ORANGE_GRADIENT: linear-gradient(0.82turn, #ef7410, #f8ce79, #e79522, #e79522, #ef7410);
// linear-gradient(0.25turn, #f4f4f4, #f3b53a);
$SIDE-PAGE_TITLE_DYNAMIC: 8.5vw;

$BKGR-SEC: #303046;
$TEXT-PRIM: rgba(245, 245, 245, 0.919);

$CUBIC_BEZ1: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$BKGR-POS-START: 75%;
$BKGR-SIZE: 350% 350%;

$ICON-INACTIVE: #465e7799;
$FONT-BLEND-ALT: difference;

$FONT-PRIM: 'Druk Wide Bold Bold';
$TITLE-FONT: 'Array';
$FONT-PARAGRAPH: 'Space Grotesk';

$INV_FONT_COLOR: rgb(22, 21, 21);
$BKGR-PAGE-BLK: rgba(12, 12, 12, 1);

$PRIM-PARAGRAPH-COLOR: #888;

$BORDER-COLOR: rgba(255, 255, 255, 0.075);

// Skill Crawler //
$ICON_SIZE: 5.4vw;

// Card w/ Sidebar //
$OPTIONS_BTN: clamp(1.3vw, 7.8%, 2.9vw);
$SIDEBAR-COLOR: #ededed;

$TRANS-1: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
$TRANS-2: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) all;

// Contact section
$FORM_INPUT_BKGRD_COLOR: rgba(80, 69, 69, 0.169);

// Animations
$TICKER_CRAWL_ANIMATION: ticker;
$TEXT_OVERLY_SHOW_ANIME: text_overly_show;
$GLIDING_FONT_GRADIENT: glidingColorFontGradient;

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    // 0% {
    //     -webkit-transform: translate3d(0, 0, 0);
    //     transform: translate3d(0, 0, 0);
    //     visibility: visible;
    // }

    // 100% {
    //     -webkit-transform: translate3d(-100%, 0, 0);
    //     transform: translate3d(-100%, 0, 0);
    // }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes glidingColorFontGradient {
    to {
        background-position: 200% center;
    }
}