@use './variables' as vars;

@mixin size($fillWidth-width, $fillHeight-height, $margin-margin, $padding-padding) {
    margin: $margin-margin;
    padding: $padding-padding;
    width: $fillWidth-width;
    height: $fillHeight-height;
}

@mixin cubicBezDuration($seconds) {
    transition: all $seconds cubic-bezier(0.075, 0.82, 0.165, 1)
}

@mixin flex($justify-justify, $align-align, $direction-direction, $self-self_ju, $self-self_al) {
    display: flex;
    justify-content: $justify-justify;
    align-items: $align-align;
    flex-direction: $direction-direction;
    justify-self: $self-self_ju;
    align-self: $self-self_al;
}

@mixin setFont($family-size, $weight, $font-color) {
    font: $family-size;
    font-weight: $weight;
    color: $font-color;
}

@mixin pseudoMask() {
    @include size(100%, 100%, 0, 0);
    position: absolute;
    box-sizing: border-box;
    inset: 0 0 0 0;
    
    /* From https://css.glass */
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    // box-shadow: 0 4px 30px rgba(2, 2, 2, 0.864);
}

@mixin orangeFontGradient() {
    background: vars.$ORANGE_GRADIENT;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin glidingColorGradient() {
    animation: vars.$GLIDING_FONT_GRADIENT 1.5s linear infinite;
}

@mixin textOutline($thickness: none, $outline-color: white) {
    text-shadow: (-$thickness) (-$thickness) 0 $outline-color, $thickness (
        -$thickness) 0 $outline-color,
        (-$thickness) $thickness 0 $outline-color,
        $thickness $thickness 0 $outline-color;
}