@use '/src/app/styles/partials/index' as util;

.scene {
    @include util.size(200px, 90px, 0, 0);
    @include util.flex('center', 'center', null, null, null);
    display: flex;
    perspective: 600px;

    .card {
        @include util.size(100%, 100%, 0, 0);
        position: relative;
        transition: transform 0.59s;
        transform-style: preserve-3d;

        .card-face {
            @include util.size(100%, 100%, 0, 0);
            inset: 0 0 0 0;

            position: absolute;
            backface-visibility: hidden;
        }

        .back {
            padding: 0;
            margin: 0;
            transform: rotateY(180deg);

            .card-text {
                padding: 0;
                margin: 0;
                text-align: center;
                font-family: util.$SIDE_PAGE_TITLE_FONT;
                font-size: 1.4vw;
            }
        }

        &:hover {
            transform: rotateY(180deg);
        }
    }
}