@use '/src/app/styles/partials/index' as util;

.opaque-overlay {
    @include util.size(100%, 100%, 0, 0);
    border: 3px solid red;

    // .text-overlay {
    //     position: relative;
    //     background-color: red;
    // }

    &::before {
        content: '';
        @include util.size(100%, 100%, 0, 0);
        background-color: cyan;
        position: absolute;
    }
}