@use '/src/app/styles/partials/index' as util;

.contact-page-container {
    @include util.flex(start, center, null, null, null);

    height: 90vh;
    background-color: util.$BKGR-PAGE-BLK;

    .contact-form-container {
        @include util.size(85%, auto, 0 0 0 2vw, 0 40px 0 40px);
        box-sizing: border-box;

        .contact-form {
            @include util.size(100%, 100%, 0, 0);
            @include util.flex(null, null, column, null, null);

            .input-container {
                display: flex;
            }
        }

        .textarea-container {
            // margin-bottom: 100px;
            // position: relative;

            .form-submit-btn {
                @include util.size(0, 57px, 0 0 0 20px, 0);
                @include util.setFont(1.15vw util.$FONT-PRIM, 400, util.$TEXT-PRIM);

                border: none;
                outline: none;
                border-radius: 0 35px 35px 0;

                background-color: rgba(0, 0, 0, 0);
                transition: util.$TRANS-2;
                border-left: 7px solid;
                border-color: rgba(0, 0, 0, 0);

                .inner-button-body {
                    @include util.size(auto, 100%, 0 0 0 20px, 0);
                    @include util.flex(space-between, center, null, null, null);

                    overflow: hidden;

                    & > .submit-arrow {
                        justify-self: end;
                        height: 50%;
                        padding-right: 12px;
                    }
                }

                &:hover {
                    color: black;
                    cursor: pointer;
                }
            }

            .show-submit-button {
                background-color: util.$BORDER-COLOR;
                border-color: util.$BORDER-COLOR;
                width: 200px;

                .submit-arrow {
                    transition: all 0.48s ease-in-out;
                }

                &:hover {
                    background-color: #ef7410c1;

                    .submit-arrow {
                        translate: 5.7px
                    }
                }
            }
        }
    }
}