@use '/src/app/styles/partials/index' as util;

.contact-page {
    @include util.size(100%, 110vh, 0, 0 100px 100px);
    @include util.flex(center, center, null, null, null);
    position: relative;

    background-color: util.$BKGR-PAGE-BLK;

    &::after {
        content: '';
        @include util.size(100%, 45%, 0, 0);
        top: -30%;
        background: rgb(0, 0, 0);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px -52px 200px 100px rgb(0, 0, 0);
    }

    .contact-container {
        @include util.size(100%, 55vh, 0, 0);
    }

    .contact-title {
        @include util.setFont(calc(util.$BODY_DYNAMIC_FONT_SIZE + 30px) util.$FONT-PRIM, 400, util.$TEXT-PRIM);
        @include util.flex(center, flex-end, column, NULL, NULL);
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 0.8;
        text-align: end;
    }

    .contact-body {

        .contact-list {
            @include util.flex(center, flex-end, column, NULL, NULL);
            height: 60%;
            list-style-type: none;
            position: relative;
            overflow: hidden;

            .contact-list-item {
                @include util.setFont(8vw util.$TITLE-FONT, 700, rgb(139, 139, 120));

                width: 100vw;
                padding: 12.5px 12.5px 12.5px 300px;
                position: relative;
                overflow: hidden;
                text-align: end;
                z-index: 1;
                transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
                cursor: pointer;

                .blend-text {
                    color: white;
                    mix-blend-mode: difference;
                    position: relative;
                    z-index: 1;
                    perspective: 400px;
                }

                &::after {
                    content: '';
                    @include util.size(100%, 100%, 0, 0);
                    position: absolute;
                    inset: 0;
                    z-index: -1;
                    background-color: white;
                    transform: translateX(100%);
                    transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
                }

                &:hover {
                    &::after {
                        transform: translateX(0%);
                    }
                }
            }
        }
    }
}