@use '../../styles/partials/index' as util;

.header-menu {
    @include util.size(100%, 120px, 0 auto, 0 0 10px);
    @include util.flex(center, center, null, null, null);
    left: 0;
    right: 0;

    z-index: 999;
    position: fixed;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 1.1s all ease-in-out;

    &::before {
        content: '';
        @include util.pseudoMask();
        top: -100%;
        left: 100;
        background: util.$BKGR-PAGE-BLK;
        border-bottom: 2px solid rgba(255, 255, 255, 0);

        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 20px;
        transition: 0.44s all ease-in-out;
    }
}

.scrolled-past-about-page {
    width: 100%;
    height: 100px;
    background: util.$BKGR-PAGE-BLK;

    &::before {
        content: '';
        top: 0;
        border-bottom: 2px solid util.$BORDER-COLOR;

    }
}


.navbar {
    @include util.size(40%, auto, 0, 0 50px 10px);

    text-decoration: none;
    list-style: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    .navbar-container {
        @include util.flex(space-between, center, null, null, null);
        padding: 0px;
        list-style: none;

        .nav-option {
            @include util.setFont(util.$NAV_DYNAMIC_FONT_SIZE util.$FONT-PRIM, 400, white);
            letter-spacing: 1px;
            margin-bottom: 14px;
            list-style: none;
        }

        .nav-option-container {
            transition: 0.2s ease-in-out all;

            position: relative;
            opacity: 0.27;

            .link-react-component {
                text-decoration: none;
            }

            &:hover {
                text-shadow: white 0 0 10px;
            }
        }

        .active-nav-option-container {
            opacity: 1;

            .nav-option {
                color: util.$TEXT-PRIM;
                letter-spacing: 0;
            }
        }

        .active-nav-option-container::before {
            content: '';

            @include util.size(calc(100%), 4px, 0, 0);
            border-radius: 50px;
            border: 0.5px solid rgba(255, 119, 0, 0.7);
            bottom: 0;
            position: absolute;
            opacity: 0.97;
        }
    }
}