@use '/src/app/styles/partials/index' as util;

.timeline-container {
  width: 100%;
  position: relative;
  background-color: rgb(0, 0, 0);
  font-family: sans-serif;
  padding: 0 90px;

  // @media (min-width: 768px) {
  //   padding-left: 2.5rem;
  //   padding-right: 2.5rem;
  // }

  &.dark {
    background-color: #0a0a0a; // neutral-950
  }
}

.timeline-header {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  // padding: 5rem 1rem;

  // @media (min-width: 768px) {
  //   padding-left: 2rem;
  //   padding-right: 2rem;
  // }

  // @media (min-width: 1024px) {
  //   padding-left: 2.5rem;
  //   padding-right: 2.5rem;
  // }

  &::after {
    content: '';
    @include util.size(100%, 0, 0, 0);
    inset: 0;
    // bottom: -50%;
    border: 2px solid red;
    // background: rgb(249, 48, 48);
    position: absolute;
    // // border-radius: 100%;
    // left: 50%;
    // transform: translateX(-50%);
    box-shadow: 0px 25px 70px 100px rgb(0, 0, 0);
    // box-shadow: 0px -52px 200px 100px rgb(0, 0, 0);
}
}

.timeline-title {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);

  max-width: 56rem;

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }
}

.timeline-description {
  color: #ffffff; // neutral-700
  font-size: 0.875rem;
  max-width: 24rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }

  .dark & {
    color: #d4d4d4; // neutral-300
  }
}

.timeline-content {
  position: relative;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}

.timeline-entry {
  display: flex;
  justify-content: flex-start;
  padding-top: 2.5rem;

  @media (min-width: 768px) {
    padding-top: 10rem;
    gap: 2.5rem;
  }
}

.timeline-marker-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  z-index: 40;
  align-items: center;
  top: 10rem;
  align-self: flex-start;
  max-width: 20rem;

  @media (min-width: 1024px) {
    max-width: 24rem;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    width: 100%;
  }
}

.timeline-marker {
  height: 2.5rem;
  position: absolute;
  left: 0.75rem;
  width: 2.5rem;
  border-radius: 9999px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    left: 0.75rem;
  }

  .dark & {
    background-color: black;
  }
}

.timeline-marker-dot {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background-color: #e5e5e5; // neutral-200
  border: 1px solid #d4d4d4; // neutral-300
  padding: 0.5rem;

  .dark & {
    background-color: #262626; // neutral-800
    border-color: #404040; // neutral-700
  }
}

.timeline-entry-title-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
    padding-left: 5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #737373; // neutral-500
  }

  .dark & {
    color: #737373; // neutral-500
  }
}

.timeline-entry-content {
  position: relative;
  padding-left: 5rem;
  padding-right: 1rem;
  width: 100%;

  @media (min-width: 768px) {
    padding-left: 1rem;
  }
}

.timeline-entry-title-mobile {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: 700;
  color: #737373; // neutral-500

  @media (min-width: 768px) {
    display: none;
  }

  .dark & {
    color: #737373; // neutral-500
  }
}

.timeline-line {
  position: absolute;
  left: 2rem;
  top: 0;
  overflow: hidden;
  width: 2px;
  background-image: linear-gradient(to bottom, transparent 0%, #e5e5e5 50%, transparent 99%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);

  @media (min-width: 768px) {
    left: 2rem;
  }

  .dark & {
    background-image: linear-gradient(to bottom, transparent 0%, #404040 50%, transparent 99%);
  }
}

.timeline-progress {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 2px;
  background-image: linear-gradient(to top, #a855f7, #3b82f6, transparent);
  background-position: 0% 0%, 10% 0%, 0% 0%;
  border-radius: 9999px;
}