.skills-wrapper {
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F9FAFB;

    .skills-container {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 6rem;

        // @media (min-width: 768px) {
        //     grid-template-columns: repeat(3, minmax(0, 1fr));
        // }

        // @media (min-width: 1024px) {
        //     grid-template-columns: repeat(4, minmax(0, 1fr));
        // }

        .skills-icon-wrapper {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .skills-icon-overlay {
                display: flex;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
                color: #ffffff;
                background-color: #000000;
                --bg-opacity: 0.5;
            }
        }
    }
}