@use '/src/app/styles/partials/index' as util;

.ticker-wrapper {
    @include util.size(100%, 100%, 0, 0);

    position: relative;
    overflow: hidden;
    background-color: util.$BKGR-PAGE-BLK;

    .ticker {
        @include util.size(auto, 100%, 0, 0);
        @include util.flex(center, center, null, null, null);

        white-space: nowrap;

        animation: util.$TICKER_CRAWL_ANIMATION 40s linear infinite running;

        &__content {
            @include util.size(auto, 100%, 0, 0);
            @include util.flex(center, center, null, null, null);

            & > * {
                border: 1px solid blue;
                width: 500px;
            }
        }

        &:hover {
            animation-play-state: paused;
        }
    }

}